

html{
    font-size: 100%;
}

h1{
    font-size: 1.5rem;
}
h2{
    font-size: 1.4rem;
}
h3{
    font-size: 1.3rem;
}

@for $i from 1 through 10 {
    .mt-#{$i*5} {margin-top: 5px*$i;}
    .mb-#{$i*5} {margin-bottom: 5px*$i;}
    .ml#{$i*5} {margin-left: 5px*$i;}
    .mr#{$i*5} {margin-right: 5px*$i;}
}